.flex-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  height: 85vh;
  justify-content: space-around;
  background-color: white;
  color: white;
}

.flex-container-visualization {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-basis: 60%;
}

.bg-img1 {
  background-size: cover;
}

.temp {
  font-size: 15vh;
  flex: 1;
  padding: 15px;
  background: rgba(46, 53, 56, 0.5);
  backdrop-filter: blur(5px);
  line-height: 90px;
}

.other {
  display: flex;
  flex: 1;
  flex-direction: column;
  line-height: 60px;
  background: rgba(46, 53, 56, 0.5);
  backdrop-filter: blur(5px);
}

.place {
  text-align: center;
  font-size: 65px;
}

.time-day-date {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.time {
  flex: 1;
}

.day {
  flex: 1;
}

.date {
  flex: 1;
}

.icon-name {
  background: rgba(46, 53, 56, 0.5);
  backdrop-filter: blur(5px);
  flex: 1;
  line-height: 60px;
  display: flex;
  font-size: 25px;
  text-align: center;
  flex-direction: column;
}

.flex-container-weatherdetails {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 233, 233);
  flex-basis: 40%;
  color: black;
}

.heading {
  flex: 1;
  font-size: 80px;
  padding-top: 50px;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 2;
  font-size: 35px;
  flex-wrap: nowrap;
}

.detailvalue {
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
